<!DOCTYPE html>
<html layout:decorate="~{shared/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
</head>

<body>
    <div layout:fragment="content">

        <!-- Content Header (Page header) -->
        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Reports</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">Reports</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Header (Page header) -->

        <div class="page-content">
            <!-- Striped rows with inverse dark table start -->
            <section class="section">
                <div class="row" id="table-bordered">
                    <div class="col-12">
                        <div class="card">
                            <div class="row">
                                <!-- <div class="col-12 d-flex justify-content-end pb-4 pt-4">

                                    <a th:href="@{/exports/pdf}"> <button class="btn btn-primary me-3 mt-4"
                                            style="height: 50px;">Print PDF</button></a>
                                    <a th:href="@{/exports/text}"> <button class="btn btn-success me-3 mt-4"
                                            style="height: 50px;">Print TXT</button></a>
                                    <a th:href="@{/exports/csv}"> <button class="btn btn-warning me-4 mt-4"
                                            style="height: 50px;">Print
                                            CSV</button></a>
                                </div> -->
                                <div class="col-5">

                                    <div class="card-header">
                                        <h4 th:text="${generateNoteTransactionData.getSeller}" class="card-title">
                                            D'BEST FATMAWATI</h4>
                                        <h4 th:text="${generateNoteTransactionData.getStore}" class="card-subtitle">
                                            Striped inverse dark</h4>
                                    </div>
                                </div>

                                <div class="col-7 d-flex justify-content-end">
                                    <div class="card-header">
                                        <h4 class="card-subtitle mb-2">Tanggal : <span
                                                th:text="${generateNoteTransactionData.dateCreatedNoteFormat}"></span>
                                        </h4>
                                        <h4 class="card-subtitle mb-2">Jam : <span
                                                th:text="${generateNoteTransactionData.timeCreatedNoteFormat}"></span>
                                        </h4>
                                        <h4 class="card-subtitle">Halaman : <span
                                                th:text="${generateNoteTransactionData.pageNote}"></span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="card-header">
                                        <h4 class="card-title">NOTA PENJUALAN</h4>
                                        <ul>
                                            <li>TANGGAL : <span
                                                    th:text="${generateNoteTransactionData.getDateTransactionNoteFormat}"></span>
                                            </li>
                                            <li>NOMOR : <span
                                                    th:text="${generateNoteTransactionData.transactionIdNote}"></span>
                                            </li>
                                            <li>PELANGGAN : <span
                                                    th:text="${generateNoteTransactionData.customerNameNote}"></span>
                                            </li>
                                            <li>ALAMAT : <span
                                                    th:text="${generateNoteTransactionData.customerAddressNote}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- table dark -->
                                <div class="table-responsive ps-4 pe-4">
                                    <table class="table table-bordered table-lg">
                                        <thead>
                                            <tr>
                                                <th>NO.</th>
                                                <th>NO.PLU</th>
                                                <th>NAMA</th>
                                                <th>QTY</th>
                                                <th>HARGA SATUAN</th>
                                                <th>NETTO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                th:each="transaction, iteration : ${generateNoteTransactionData.transactions}">
                                                <td th:text="${iteration.count}">1.</td>
                                                <td th:text="${transaction.noPlu}">DWADAW</td>
                                                <td th:text="${transaction.productName}">DWADAW</td>
                                                <td th:text="${transaction.quantity}">DWADAW</td>
                                                <td th:text="${transaction.getHargaSatuanFormatCurrency}">DWADAW</td>
                                                <td th:text="${transaction.getNettoFormatCurrency}">DWADAW</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="p-4">
                                        <div class="col-12">
                                            <div class="row">
                                                <div>SUB TOTAL: &emsp;<strong
                                                        th:text="${generateNoteTransactionData.subTotalFormat}">400000</strong>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12 mt-2">
                                            <div>POTONGAN: &emsp;<strong
                                                    th:text="${generateNoteTransactionData.potonganFormat}">0</strong>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div>TOTAL: &emsp;<strong
                                                    th:text="${generateNoteTransactionData.totalFormat}">400000</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-10 mb-24">
                                    <div class="col-6 d-flex justify-content-center">
                                        <h5>Pelanggan</h5>
                                    </div>

                                    <div class="col-6 d-flex justify-content-center">
                                        <h5>Hormat Kami</h5>
                                    </div>
                                </div>

                                <div class="row mb-5">
                                    <div class="col-6 d-flex justify-content-center">
                                        (&emsp;<h5 th:text="${generateNoteTransactionData.customerName}">Pelanggan</h5>
                                        &emsp;)
                                    </div>

                                    <div class="col-6 d-flex justify-content-center">
                                        <h5>(&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;)</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- Striped rows with inverse dark table end -->
        </div>
    </div>
</body>

</html>